body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef !important;
  padding: 40px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.list-todos::-webkit-scrollbar {
  height: 80%;
  width: 5px;
}
.list-todos::-webkit-scrollbar-track {
  background-color: #dbdbdb;
  border-radius: 10px;
}
.list-todos::-webkit-scrollbar-thumb {
  background-color: #949494;
  border-radius: 10px;
}